
    <!--JavaScript at end of body for optimized loading-->

    <script>
        document.addEventListener('htmx:configRequest', function(evt) {
            // add token to authentication header
            console.log('global, htmx:configRequest');
            if (evt.detail.elt.matches("[authenticated='true']")) {
                evt.detail.headers['Authentication'] = evt.detail.parameters['token']
            }
        });
        document.addEventListener('htmx:afterOnLoad', function(evt) {
            console.log('global, htmx:afterOnLoad');
            var generalErrorDiv = document.querySelector('#general-error');
            // Remove all existing error messages
            generalErrorDiv.innerHTML = '';
        });
        // when respone errors (non 200 or 300 status)
        document.addEventListener('htmx:responseError', function(evt) {
            console.log('global, htmx:responseError');
            var generalErrorDiv = document.querySelector('#general-error');
            var existing = generalErrorDiv.querySelector('div[role="responseError"]');
            
            if (!existing) {
                var newDiv = document.createElement('div');
                newDiv.className = 'alert alert-danger';
                newDiv.setAttribute('role', 'responseError');
                newDiv.textContent = 'El servidor respondió con un error';
                generalErrorDiv.appendChild(newDiv);
            }
        });
        // when network error prevents HTTP requests
        document.addEventListener('htmx:sendError', function(evt) {
            console.log('global, htmx:sendError');
            var generalErrorDiv = document.querySelector('#general-error');
            var existing = generalErrorDiv.querySelector('div[role="sendError"]');
            
            if (!existing) {
                var newDiv = document.createElement('div');
                newDiv.className = 'alert alert-danger';
                newDiv.setAttribute('role', 'sendError');
                newDiv.textContent = 'No podemos comunicarnos con el servidor';
                generalErrorDiv.appendChild(newDiv);
            }
        });

        document.addEventListener('htmx:beforeRequest', function (evt) {
            console.log('global, htmx:beforeRequest');
        });
        document.addEventListener('htmx:afterRequest', function (evt) {
            console.log('global, htmx:afterRequest');
        });
        document.addEventListener('htmx:beforeSettle', function (evt) {
            console.log('global, htmx:beforeSettle');
        });
        document.addEventListener('htmx:afterSettle', function (evt) {
            console.log('global, htmx:afterSettle');
        });
    </script>
</body>
</html> 