<table>
    <thead>
        <tr>
            <th>Cuando murio el personaje?</th>
        </tr>
    </thead>
    <tbody>
        {{#characters}}
        <tr>
            <td>{{.}}</td>
        </tr>
        {{/characters}}
    </tbody>
</table>