<div>Update normal {{echo}}</div>

<div id="multiple-fragments-update-1" hx-swap-oob="innerHTML">
    <div>{{echo}} 1</div>
</div>

<div id="multiple-fragments-update-2" hx-swap-oob="innerHTML">
    <div>{{echo}} 2</div>
</div>

<div id="multiple-fragments-update-3" hx-swap-oob="innerHTML">
    <div>{{echo}} 3</div>
</div>

<div id="multiple-fragments-update-4" hx-swap-oob="innerHTML">
    <div>{{echo}} 4</div>
</div>