{{> layout/header}}

<style>
   @keyframes fade-in {
     from { opacity: 0; }
   }

   @keyframes fade-out {
     to { opacity: 0; }
   }

   @keyframes slide-from-right {
     from { transform: translateX(100%); }
   }

   @keyframes slide-to-left {
     to { transform: translateX(0); }
   }

   .slide-it-new {
     view-transition-name: slide-it;
   }

   ::view-transition-old(slide-it) {
     animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
     600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
   }
   ::view-transition-new(slide-it) {
     animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
     600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
   }

   /* Shimmer effect */
   .shimmer {
        background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
        background-size: 200% 100%;
        animation: shimmer 1.5s infinite;
        border-radius: 5px; /* Rounded borders */
        width: 80px;
        height: 20px; 
   }

   @keyframes shimmer {
     0% {
       background-position: -200% 0;
     }
     100% {
       background-position: 200% 0;
     }
   }
</style>

<div id="general-error">
</div>

<div id="all-container">
<table class="container slide-it">
    <tr class="row with-border">
        <td class="col">
            <a href="/pages/showcase" class="btn btn-primary">Link clasico</a>
        </td>
        <td class="col here">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/say-hello?name=JConf 2024"
                hx-target="#destination-1"
                hx-trigger="click">
                Hola!
            </div>
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/say-hello"
                hx-target="next td"
                hx-trigger="click"
                hx-include="next input[name='name']">
                Dime hola usando tu nombre
            </div>
            <input type="text" name="name" class="form-control" placeholder="Your name">
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/echo-name-email"
                hx-target="next td"
                hx-trigger="click"
                hx-include="next form"
                hx-validate="true"
                >
                Mandar correo
            </div>
            <form>
                <input type="text" name="name" class="form-control" placeholder="Your name" required
                    hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="email" name="email" class="form-control" placeholder="Your email"
                    hx-on:htmx:validation:failed="this.reportValidity()">
            </form>
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <button class="btn btn-danger"
                hx-delete="/fragments/entity/150"
                hx-target="next td"
                hx-trigger="click"
                hx-swap="innerHTML settle:500ms"
                hx-confirm="Seguro que quieres borrar la entidad 150?"
                >
                Borrar entidad 150
            </button>
        </td>
        <td class="col">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <h5>Buscar cuando murio un personaje de GOT</h5>
            <input id="got-search" class="form-control" type="search" 
                name="search" placeholder="Escribe para buscar personajes de GOT..." 
                hx-post="/fragments/got/died" 
                hx-trigger="input[this.value.length >= 2] changed delay:500ms, enter[this.value.length >= 2]" 
                hx-target="#got-search-results" 
                hx-indicator="#got-loading">
            <button class="btn btn-primary" onClick="document.querySelector('#got-search-results').innerHTML = ''">
                Limpiar
            </button>
        </td>
        <td class="col">
            <img id="got-loading" class="htmx-indicator" src="/loading.gif"/>
            <div id="got-search-results"></div>
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <script>
                function sumFormBeforeRequest(event) {
                    console.log('request, beforeRequest');
                    if (confirm('Seguro?')) {
                        document.querySelector('.sum-content').innerHTML = '';
                    } else {
                        event.preventDefault(); // Cancel the request
                    }
                }
            </script>
            <form id="sum-form" hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="number" name="a" class="form-control" placeholder="First number" required>
                <input type="number" name="b" class="form-control" placeholder="Second number" required>
                <input type="number" name="waitTime" class="form-control" placeholder="Wait time in seconds">

                <button class="btn btn-primary"
                    hx-post="/fragments/sum-data"
                    hx-target="next td .sum-content"
                    hx-trigger="click"
                    hx-include="this"
                    hx-validate="true"
                    id="sum-button"
                    hx-indicator="#spinner"
                    hx-on:htmx:before-cleanup-element="console.log('request, beforeCleanupElement')"
                    hx-on:htmx:before-on-load="console.log('request, beforeOnLoad')"
                    hx-on:htmx:before-process-node="console.log('request, beforeProcessNode')"
                    hx-on:htmx:before-request="sumFormBeforeRequest(event); this.disabled = true"
                    hx-on:htmx:before-swap="console.log('request, beforeSwap')"
                    hx-on:htmx:before-send="console.log('request, beforeSend')"
                    hx-on:htmx:before-transition="console.log('request, beforeTransition')"
                    hx-on:htmx:after-request="console.log('request, afterRequest')"
                    hx-on:htmx:after-on-load="console.log('request, afterOnLoad')"
                    hx-on:htmx:after-swap="console.log('request, afterSwap')"
                    hx-on:htmx:after-settle="console.log('request, afterSettle')"
                    hx-on:htmx:after-process-node="console.log('request, afterProcessNode')"
                    hx-on:sum-data-done="console.log('request, sum-data-done')"
                    hx-on:sum-data-done-after-swap="console.log('request, sum-data-done-after-swap')"
                    hx-on:sum-data-done-after-settle="console.log('request, sum-data-done-after-settle'); this.disabled = false">
                    {{!-- afterSwap and afterSettle are not working here --}}
                    Sumar numeros
                </button>
            </form>
        </td>
        <td class="col">
            <img id="spinner" class="htmx-indicator" src="/loading.gif"/>
            <div class="sum-content"
                hx-on:htmx:before-cleanup-element="console.log('target, beforeCleanupElement')"
                hx-on:htmx:before-on-load="console.log('target, beforeOnLoad')"
                hx-on:htmx:before-process-node="console.log('target, beforeProcessNode')"
                hx-on:htmx:before-request="console.log('target, beforeRequest')"
                hx-on:htmx:before-swap="console.log('target, beforeSwap')"
                hx-on:htmx:before-send="console.log('target, beforeSend')"
                hx-on:htmx:before-transition="console.log('target, beforeTransition')"
                hx-on:htmx:after-request="console.log('target, afterRequest')"
                hx-on:htmx:after-on-load="console.log('target, afterOnLoad')"
                hx-on:htmx:after-settle="console.log('target, afterSettle')"
                hx-on:htmx:after-swap="console.log('target, afterSwap')"
                hx-on:htmx:after-process-node="console.log('target, afterProcessNode')">
                {{!-- beforeRequest, afterRequest are not working here --}}
            </div>
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <form id="multiplication-table-form" hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="number" name="number" class="form-control" placeholder="Tabla del ?" required>
                <input type="number" name="errorProbability" class="form-control" placeholder="Probabilidad de error"
                    min="0.0" max="1.0" step="0.1" required>

                <button class="btn btn-primary"
                    hx-post="/fragments/multiplication-table"
                    hx-target="next td"
                    hx-trigger="click"
                    hx-include="this"
                    hx-validate="true">
                    Generar tabla
                </button>
            </form>
        </td>
        <td class="col">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <button class="btn btn-primary"
                hx-get="/fragments/multiple-fragments?echo=Echo!"
                hx-target="next div"
                hx-trigger="click">
                Actualizaciones multiples
            </button>
            <div></div>
        </td>
        <td class="col">
            <table>
                <thead>
                    <tr>
                        <th>Campo</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Dato 1</td>
                        <td id="multiple-fragments-update-1"><div class="shimmer"></div></td>
                    </tr>
                    <tr>
                        <td>Dato 2</td>
                        <td id="multiple-fragments-update-2"><div class="shimmer"></div></td>
                    <tr>
                        <td>Dato 3</td>
                        <td id="multiple-fragments-update-3"><div class="shimmer"></div></td>
                    </tr>
                    <tr>
                        <td>Dato 4</td>
                        <td id="multiple-fragments-update-4"><div class="shimmer"></div></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <h5>Usalo con cuidado y valida input (XSS)</h5>
            <form>
             <div class="mb-3">
                <textarea name="input"><script>alert('XSS Attack!');</script><span style="color: green">Hola</span></textarea>
            </div>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="sanitize" name="sanitize">
                <label class="form-check-label" for="sanitize">
                    Sanitizar?
                </label>
            </div>
                <button class="btn btn-warning"
                    hx-post="/fragments/echo-input"
                    hx-target="next td"
                    hx-trigger="click"
                    hx-include="this"
                    >
                    Enviar
            </form>
        </td>
        <td class="col">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <button class="btn btn-primary" hx-get="/fragments/next-steps" hx-swap="innerHTML transition:true" hx-target="#all-container">
                Que sigue?
            </button>
        </td>
        <td class="col">
        </td>
    </tr>
</table>
</div>

{{> layout/footer}}