{{> layout/header}}

<table class="container">
    <tr class="row with-border">
        <td class="col">
            <a href="/pages/showcase" class="btn btn-primary">Link clasico</a>
        </td>
        <td class="col">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/say-hello?name=JConf 2024"
                hx-target="next td"
                hx-trigger="click">
                Hola!
            </div>
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/say-hello"
                hx-target="next td"
                hx-trigger="click"
                hx-include="next input[name='name']">
                Dime hola usando tu nombre
            </div>
            <input type="text" name="name" class="form-control" placeholder="Your name">
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <div style="background-color: lightgray"
                hx-get="/fragments/echo-name-email"
                hx-target="next td"
                hx-trigger="click"
                hx-include="next form"
                hx-validate="true"
                >
                Mandar correo
            </div>
            <form>
                <input type="text" name="name" class="form-control" placeholder="Your name" required
                    hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="email" name="email" class="form-control" placeholder="Your email"
                    hx-on:htmx:validation:failed="this.reportValidity()">
            </form>
        </td>
        <td class="col" id="destination-1">
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <form id="sum-form" hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="number" name="a" class="form-control" placeholder="First number" required>
                <input type="number" name="b" class="form-control" placeholder="Second number" required>
                <input type="number" name="waitTime" class="form-control" placeholder="Wait time in seconds">

                <button class="btn btn-primary"
                    hx-post="/fragments/sum-data"
                    hx-target="next td .sum-content"
                    hx-trigger="click"
                    hx-include="this"
                    hx-validate="true"
                    id="sum-button"
                    hx-indicator="#spinner"
                    hx-on:htmx:before-request="console.log('beforeRequest'); document.querySelector('.sum-content').innerHTML = '';"
                    hx-on:htmx:after-request="console.log('afterRequest');">
                    Sumar numeros
                </button>
            </form>
        </td>
        <td class="col">
            <img id="spinner" class="htmx-indicator" src="/loading.gif"/>
            <div class="sum-content"></div>
        </td>
    </tr>
    <tr class="row with-border">
        <td class="col">
            <form id="multiplication-table-form" hx-on:htmx:validation:failed="this.reportValidity()">
                <input type="number" name="number" class="form-control" placeholder="Tabla del ?" required>
                <input type="number" name="errorProbability" class="form-control" placeholder="Probabilidad de error"
                    min="0.0" max="1.0" step="0.1" required>

                <button class="btn btn-primary"
                    hx-post="/fragments/multiplication-table"
                    hx-target="next td"
                    hx-trigger="click"
                    hx-include="this"
                    hx-validate="true">
                    Generar tabla
                </button>
            </form>
        </td>
        <td class="col">
        </td>
    </tr>
</table>

{{> layout/footer}}